# ==========================================
# 1. Visual Studio & C# (.NET)
# ==========================================
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# 2. LS ELECTRIC XG5000 (PLC)
# ==========================================
*.bak
*.tmp
*_bak/

# ==========================================
# 3. Arduino IDE
# ==========================================
build/
*.hex
*.elf

# ==========================================
# 4. OS 및 기타 환경 파일
# ==========================================
.DS_Store
Thumbs.db